@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
/*
font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;
*/

:root{
    --laranja: hsl(31, 77%, 52%);
    --ciano-escuro: hsl(184, 100%, 22%);
    --ciano-muito-escuro: hsl(179, 100%, 13%);

    --branco-paragrafo: hsla(0, 0%, 100%, 0.75);
    --cinza-claro: hsl(0, 0%, 95%);

    --fonte-principal: 'Lexend Deca', sans-serif;
    --fonte-titulo: 'Big Shoulders Display', cursive;
}

html{
    min-width: 300px;
}

body{
    background-color: var(--cinza-claro);
    font-family: var(--fonte-principal);
    font-size: 15px;
    background-color: var(--cinza-claro);
}