@media screen and (min-width: 950px){
    .categorias{
        flex-direction: row;
        max-width: 910px;
        margin-top: calc((100vh - 482px - 12px - 47px) / 2);
        margin-bottom: calc((100vh - 482px - 12px - 47px) / 2);
        margin-left: auto;
        margin-right: auto;
    }

    .categorias__card--botao{
        margin-top: 80px;
    }

    .categorias__card:nth-child(1){
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }

    .categorias__card:nth-child(3){
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
    }
}