

.contato{
    text-align: center;
    box-sizing: border-box;
}

.contato__informacao{
    width: 100%;
    border: .1rem solid var(--azul);
    box-sizing: border-box;
    margin: 1rem 0;
    padding: 1rem 0;
    border-radius: 1rem;
}

.contato__informacao figcaption{
    margin-top: .5rem;
    font-size: 1.2rem;
}

.formulario{
    margin: 3rem 0;
    box-sizing: border-box;
}

.formulario input, .formulario textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 1rem .5rem;
    margin-bottom: .7rem;
    border-radius: 1rem;
}

button{
    width: 50%;
    padding: 1rem;
    border-radius: 1rem;
    font-family: var(--fonte-principal);
    font-weight: bold;
    color: var(--cinza);
    background-color: var(--azul);
}

            @media screen and (min-width: 768px){
                .contato{
                    margin: 2rem 0;
                    display: flex;
                    justify-content: space-evenly;
                }

                .formulario{
                    margin-left: 1rem;
                }
            }


            @media screen and (min-width: 1024px){
                
                .contato{
                    flex-direction: row;
                    align-items: center;
                }

                address, .formulario{
                    margin: 0;
                    padding: 0;
                }
                .formulario{
                    margin-left: 1rem;
                }
                
                .contato-espaco{
                    
                            padding-left: calc((100% - 940px)/2);
                            padding-right: calc((100% - 940px)/2);
                            padding-top: 5rem;
                            padding-bottom: 5rem;
                        
                    
                }
            }