

.contato{
    text-align: center;
    box-sizing: border-box;
}

.contato__informacao{
    width: 100%;
    border: .1rem solid var(--azul);
    box-sizing: border-box;
    margin: 1rem 0;
    padding: 1rem 0;
    border-radius: 1rem;
}

.contato__informacao figcaption{
    margin-top: .5rem;
    font-size: 1.2rem;
}

.formulario{
    margin: 3rem 0;
    box-sizing: border-box;
}

.formulario input, .formulario textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 1rem .5rem;
    margin-bottom: .7rem;
    border-radius: 1rem;
}

#enviar-mensagem{
    width: 50%;
    padding: 1rem;
    border-radius: 1rem;
    font-family: var(--fonte-principal);
    font-weight: bold;
    font-size: 1rem;
    color: var(--cinza);
    background-color: var(--azul);
}

            @media screen and (min-width: 768px){
                .contato{
                    margin: 2rem 0;
                    display: grid;
                    grid-template-areas:
                        "informacoes"
                        "formulario";
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: auto;
                    gap: 1rem;
                    box-sizing: border-box;
                }

                .contato__info{
                    grid-area: informacoes;
                    grid-column: 1/1;
                    grid-row: 1/1;
                    display: grid;
                    grid-template-areas: 
                        "endereco"
                        "telefone"
                        "email";
                    grid-template-columns: 100%;
                    grid-template-rows: repeat(3, 1fr);
                    align-items: start;
                    gap: .5rem;
                }

                .contato__informacao, .formulario input{
                    margin: 0;
                }

                .formulario{
                    margin: 0;
                    grid-area: formulario;
                    grid-column: 2/2;
                    grid-row: 1/1;
                    display: grid;
                    grid-template-areas: 
                        "nome"
                        "seuemail"
                        "mensagem";
                    grid-template-columns: 100%;
                    grid-template-rows: 1.5fr 1.5fr 6fr 1fr;
                    gap: .5rem;
                }
            }


            @media screen and (min-width: 1024px){
            
                
                .contato-espaco{
                    
                            padding-left: calc((100% - 940px)/2);
                            padding-right: calc((100% - 940px)/2);
                            padding-top: 5rem;
                            padding-bottom: 5rem;
                }

                #enviar-mensagem{
                    display: block;
                }
            }