.cabecalho{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: .7rem;
    padding-bottom: .7rem;
    align-items: center;
    flex-wrap: wrap;
}

.logo a{
    font-family: var(--fonte-titulo);
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--azul);
}

button{
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
}

.navegacao{
    flex-basis: 100%;
    text-align: center;
    height: 0;
    overflow: hidden;
    transition: .6s all;
    
}

button:focus ~.navegacao{
    height: 6rem;
    padding: 1rem 0;
}


.navegacao__lista-itens{
    display: block;
    margin: 1rem;
}

.navegacao__lista-itens a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #000000;
}

                @media screen and (min-width: 768px) {

                    .cabecalho{
                        padding-top: 1.2rem;
                        padding-bottom: 1.2rem;
                    }

                    .logo a{
                        font-size: 2.2rem;
                    }

                    button{
                        font-size: 2rem;
                    }

                    .navegacao__lista-itens a{
                        font-size: 2rem;
                    }
                    
                }


                                @media screen and (min-width: 1024px) {

                                   .cabecalho{
                                       padding-top: 0;
                                       padding-bottom: 0;
                                   }

                                    .logo{
                                        display: flex;
                                        padding: 1rem 0;
                                        margin: 0 .8rem;        
                                    }

                                    .logo a{
                                        font-size: 2.3rem;
                                        text-decoration: none;
                                        color: var(--azul);
                                    }

                                    button{
                                        display: none;
                                    }

                                    .navegacao{
                                        flex-basis: auto;
                                        overflow: visible;
                                        height: 100%;
                                        padding: 1rem 0;
                                        text-align: center;
                                        align-items: center;
                                    }
                                    
                                    .navegacao__lista-itens{
                                        display: inline-block;
                                        margin: 0 .8rem;
                                    }
                                    
                                    .navegacao__lista-itens a{
                                        font-size: 1.6rem;                                      color: #000000;
                                    }

                                    .navegacao__lista-itens a:hover{
                                        text-decoration: underline;
                                    }

                                }