.logo{
    display: none;
}

.navegacao{
    padding: 1rem 0;
    text-align: center;
}

.navegacao__lista-itens{
    display: inline-block;
    margin: 0 .8rem;
}

.navegacao__lista-itens a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #000000;
}

                @media screen and (min-width: 768px) {

                    .navegacao{
                        padding: 1.9rem 0;
                    }

                    .navegacao__lista-itens a{
                        font-size: 2rem;
                    }
                    
                }


                                @media screen and (min-width: 1024px) {

                                    header{
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                    }

                                    .logo{
                                        display: flex;
                                        padding: 1rem 0;
                                        margin: 0 .8rem;        
                                    }

                                    .logo a{
                                        font-size: 2rem;
                                        text-decoration: none;
                                        color: var(--azul);
                                    }

                                    .navegacao__lista-itens a{
                                        font-size: 1.8rem;
                                    }

                                }