.rodape{
    background-color: var(--azul);
}

.rodape__informacoes{
    display: block;
    text-align: center;
    padding: .5rem 0;
    color: var(--branco);
}

.rodape__informacoes-itens{
    display: inline-block;
    margin: 0 .3rem;
}

.rodape__informacoes-links{
    text-decoration: none;
    color: var(--branco);
}

            @media screen and (min-width: 768px) {
                
                
                .rodape{
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                }

                .rodape__informacoes{
                    width: 32%;
                    font-size: 1.3rem;
                }

                .rodape__informacoes-itens{
                    display: inline-block;
                    margin: .5rem 0;
                }
            }


                    @media screen and (min-width: 1024px){
                        .rodape__informacoes-itens{
                            display: inline-block;
                            margin: .5rem;
                        }
                    }