.portifolio{
    background-color: #1d2540;
    text-align: center;
    padding: 1rem;
    
}

.portifolio a {
    text-decoration: none;
    color: #000;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #8dbf21;
    padding: .5rem;
    margin: .3rem;
}